@import 'nib'
@import 'vendor/normalize.css'
@import 'base'

header 
  float left
  width 100%
  height 100px

section 
  float left
  width 100%
  height 500px

footer 
  float left
  width 100%
  height 400px