@import 'nib'
@import 'vendor/normalize.css'
@import 'base'

.wrap
  display flex
  flex-flow row wrap
  align-content flex-start
  width 100%
  height 100%
  overflow auto

  header
    flex 1 100%
    height 10%

  section
    flex 1 100%
    height 60%
    overflow auto

  footer
    flex 1 100%
    height 30%